body{
    color: pink;
    background:rgb(233, 144, 233);
    font-family: "Itim", cursive;
    margin: 0px;
    mar



.chamada{
    background-color: lightcoral;
    margin: top 80px;
    margin: bottom 80px;
    display: flex;
    justify-content: center;
}
header{
    font-size: 35px;
    color:rgba(255, 80, 217, 0.829);
    border-bottom: pink;
    padding: 20px;
}

h1{
    font-size: 40px;
}
.chamada-texto{
    margin-right: 5%;
}
